
<h2>This is all Products Component</h2>
<div class="catalog">
    <ul class="list">
        <ng-container *ngFor="let product of list">
            <li 
            [ngStyle]="{backgroundColor: product.available ? 'lightgreen' : 'tomato'}">   
                <div class="imgbox" fetListen >
                    <img [src]="product.thumbnail" [alt]="product.name">
                </div>
                <div class="idbox"  painter>
                    <div class="id">Product ID:</div>
                    <div class="idvalue"> {{ product.id }} </div>
                </div>
                <div class="namebox" fetBind >
                    <div class="name">Product name:</div>
                    <div class="namevalue"> {{product.name}} </div>
                </div>
                <div class="descbox">
                    <div class="description">About Product:</div>
                    <div class="descvalue"> {{ product.category}} </div>
                </div>
                <div class="pricebox">
                    <div class="price">Price:</div>
                    <div class="pricevalue"> {{product.price}} </div>
                </div>
                <div class="btn" *ngIf=" product.available; else request ">
                    Buy
                </div>
                <ng-template #request>
                    <input type="text" #textOrder>
                    <div class="btn">
                       Place an Order
                    </div>
                </ng-template>   
            </li>
        </ng-container>
    </ul>
</div>
